.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    color: white;
}

.container-fluid {
    background-color: #427a55
}

#showTrailsBtn1,
#showTrailsBtn2 {
    background-color: #427a55;
    color: white;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px 10px;
    width: 240px;
}

.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbarMini {
    display: none;
}

.homePhoneSize {
    display: none;
}

.mainDivTrail {
    margin-top: 20px;
    margin-left: 30px;
}

@media (max-width: 850px) {

    .posts {
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width: 730px) {
    .homeNormalSize {
        display: none;
    }

    .homePhoneSize {
        display: inline-block;
    }
}

@media (max-width: 475px) {
    #navbarNormal {
        display: none;
    }

    #navbarMini {
        display: inline;
    }

}
.ratingPart, .addCommentPart, .oldComments {
    margin-top: 40px;
}

.ratingContainer {
    display: flex;
    align-items: center;
}

.existingRatingMessage {
    margin-left: 40px;
    font-size: 16px;
    font-family: inherit;
    color: rgb(157, 31, 31);
}

#commentForm {
    width: 500px;
}

.commentInput {
    width: 500px;
    height: 50px;
}

.starsContainer {
    display: inline-flex;
    /* Переворот, чтобы окрашивались не все последующие, а все предыдущие звёзды */
    flex-direction: row-reverse;
}

.ratingInput {
    color: #dcdcdc;
    font-size: 50px;
    cursor: pointer;
    transition: 0.2s;
}

/* Затрагиваем элемент, на котором ховер и все последующие */
.ratingInput:hover,
.ratingInput:hover ~ .ratingInput {
    color: rgb(232, 201, 45);
}

.starsContainer[data-total-value="1"] .ratingInput:nth-child(n + 10),
.starsContainer[data-total-value="2"] .ratingInput:nth-child(n + 9),
.starsContainer[data-total-value="3"] .ratingInput:nth-child(n + 8),
.starsContainer[data-total-value="4"] .ratingInput:nth-child(n + 7),
.starsContainer[data-total-value="5"] .ratingInput:nth-child(n + 6),
.starsContainer[data-total-value="6"] .ratingInput:nth-child(n + 5),
.starsContainer[data-total-value="7"] .ratingInput:nth-child(n + 4),
.starsContainer[data-total-value="8"] .ratingInput:nth-child(n + 3),
.starsContainer[data-total-value="9"] .ratingInput:nth-child(n + 2),
.starsContainer[data-total-value="10"] .ratingInput:nth-child(n + 1) {
    color: gold;
}
